@model IEnumerable<StudentInformationSystem.Properties.Administrator>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Infor</title>
</head>
<body>
    <h1>Welcome! @Session["username"]</h1>
</body>
</html>
