@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">最近更新内容</p>
    <p>1.实现登录<br />2.实现注册<br />3.实现学生信息管理<br />4.修改密码</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>登录注册</h2>
        <p>
            可以使用管理员登录，入口在导航栏右边<br />
            jxy 账号：202001 ，密码：123456<br />
            可以保存账号信息，登陆后可在主页看到登录的账号名称。
        </p>
    </div>
    <div class="col-md-4">
        <h2>学生信息管理</h2>
        <p>入口在导航栏<br />
        主要实现学生信息的增删改查。使用的技术是EF数据连接</p>
    </div>
    <div class="col-md-4">
        <h2>修改自身密码</h2>
        <p>可修改密码，入口在导航栏右侧下拉按钮</p>
    </div>
</div>